BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wrap {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 760px; COLOR: #333; POSITION: relative
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.hibody {
	DISPLAY: none
}
.hidden {
	DISPLAY: none
}
.spanclass {
	LEFT: 1px; VISIBILITY: hidden; WIDTH: 10px; POSITION: absolute; TOP: 1px; HEIGHT: 1px
}
.passad {
	MARGIN: 0px auto; WIDTH: 760px; LINE-HEIGHT: 8px; PADDING-TOP: 8px; HEIGHT: auto
}
#passad_index_7601 {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 758px; PADDING-TOP: 0px; BORDER-BOTTOM: #78a1cd 1px solid
}
#passad_class_7601 {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 758px; PADDING-TOP: 0px; BORDER-BOTTOM: #78a1cd 1px solid
}
#passad_small_7601 {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 758px; PADDING-TOP: 0px; BORDER-BOTTOM: #78a1cd 1px solid
}
#passad_list_7601 {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 758px; PADDING-TOP: 0px; BORDER-BOTTOM: #78a1cd 1px solid
}
#passad_article_7601 {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 758px; PADDING-TOP: 0px; BORDER-BOTTOM: #78a1cd 1px solid
}
#top {
	PADDING-RIGHT: 8px; BORDER-TOP: #1a59b8 3px solid; PADDING-LEFT: 8px; BACKGROUND: #efefef; PADDING-BOTTOM: 5px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 744px; PADDING-TOP: 5px; HEIGHT: 15px
}
#coolmenu {
	MARGIN-LEFT: 85px
}
#sitename {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 60px
}
#passad_index_468 {
	MARGIN-LEFT: 130px
}
#menu {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #1656ad; COLOR: #ffffff; LINE-HEIGHT: 24px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 24px
}
#menu A {
	FONT-SIZE: 13px; COLOR: #fff; TEXT-DECORATION: none
}
#menu A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
#menu A:hover {
	COLOR: #eff4fa; TEXT-DECORATION: none
}
#menulist {
	MARGIN: 0px 9px
}
#mbox {
	BORDER-RIGHT: #78a1cd 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #78a1cd 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; OVERFLOW: hidden; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 756px; PADDING-TOP: 1px; BORDER-BOTTOM: #78a1cd 1px solid; POSITION: relative; HEIGHT: 110px
}
#menubox {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(menuboxbg.gif); PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 740px; COLOR: #1656ad; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 110px; TEXT-DECORATION: none
}
#menubox A {
	TEXT-DECORATION: none
}
#menubox A:visited {
	TEXT-DECORATION: none
}
#menubox A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px; BACKGROUND-COLOR: #1656ad; TEXT-DECORATION: none
}
.bigclass {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 22px; PADDING-TOP: 1px; BACKGROUND-COLOR: #1656ad; TEXT-DECORATION: none
}
.bigclass A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px; BACKGROUND-COLOR: #1656ad; TEXT-DECORATION: none
}
.bigclass A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px; BACKGROUND-COLOR: #1656ad; TEXT-DECORATION: none
}
.bigclass A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #eff4fa; PADDING-TOP: 1px; BACKGROUND-COLOR: #1656ad; TEXT-DECORATION: none
}
.topinput {
	BORDER-RIGHT: #7d9eba 1px solid; BORDER-TOP: #7d9eba 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #7d9eba 1px solid; WIDTH: 98px; BORDER-BOTTOM: #7d9eba 1px solid; HEIGHT: 15px
}
.loginenter {
	BORDER-RIGHT: #053c7d 1px solid; BORDER-TOP: #78a1cd 1px solid; FONT-SIZE: 12px; BACKGROUND: #1656ad; BORDER-LEFT: #78a1cd 1px solid; WIDTH: 45px; COLOR: #ffffff; LINE-HEIGHT: 16px; BORDER-BOTTOM: #053c7d 1px solid; HEIGHT: 18px
}
.f13 {
	FONT-SIZE: 13px
}
.f14 {
	FONT-SIZE: 14px
}
.f15 {
	FONT-SIZE: 15px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.l14 {
	LINE-HEIGHT: 14px
}
.l16 {
	LINE-HEIGHT: 16px
}
.l18 {
	LINE-HEIGHT: 18px
}
.l20 {
	LINE-HEIGHT: 20px
}
.l21 {
	LINE-HEIGHT: 21px
}
.l22 {
	LINE-HEIGHT: 22px
}
.l23 {
	LINE-HEIGHT: 23px
}
.l24 {
	LINE-HEIGHT: 24px
}
.l25 {
	LINE-HEIGHT: 25px
}
.l26 {
	LINE-HEIGHT: 26px
}
.l27 {
	LINE-HEIGHT: 27px
}
.l28 {
	LINE-HEIGHT: 28px
}
.l29 {
	LINE-HEIGHT: 29px
}
.l30 {
	LINE-HEIGHT: 30px
}
.bold {
	FONT-WEIGHT: bold
}
A {
	COLOR: #1656ad; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #1656ad; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff3737; TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.hei {
	COLOR: #333
}
.hei A {
	COLOR: #333; TEXT-DECORATION: underline
}
.hei A:visited {
	COLOR: #333; TEXT-DECORATION: underline
}
.hei A:hover {
	COLOR: #ff3737; TEXT-DECORATION: underline
}
.nounder {
	TEXT-DECORATION: none
}
.nounder A {
	TEXT-DECORATION: none
}
.nounder A:visited {
	TEXT-DECORATION: none
}
.nounder A:hover {
	TEXT-DECORATION: none
}
#focuspic {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 135px; HEIGHT: 100px
}
#focustitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 183px; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
#focusinfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: #f6f6f6; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 183px; COLOR: #666; TEXT-INDENT: 2em; LINE-HEIGHT: 19px; PADDING-TOP: 0px; HEIGHT: 76px
}
#righttitle01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #ff3737; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 22px
}
#right001 {
	BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; BORDER-BOTTOM: #dfdfdf 1px solid; HEIGHT: 224px
}
#righttitle02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 0px; COLOR: #333; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px
}
#ztlist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 202px; LINE-HEIGHT: 22px; PADDING-TOP: 5px; HEIGHT: 120px
}
#right001 {
	BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; BORDER-BOTTOM: #dfdfdf 1px solid; HEIGHT: 224px
}
#passkey {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 188px; PADDING-TOP: 5px; HEIGHT: 18px
}
#particularsearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 188px; PADDING-TOP: 5px; HEIGHT: 18px
}
#searchbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.artsearchbox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#bottom {
	PADDING-RIGHT: 0px; BORDER-TOP: #1a59b8 3px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 8px auto 0px; PADDING-TOP: 10px; HEIGHT: 68px
}
#about {
	LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
#corp {
	LINE-HEIGHT: 22px; FONT-FAMILY: sans-serif, Arial, Verdana, Helvetica,; HEIGHT: 45px; TEXT-ALIGN: center
}
