TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px
}
.bb {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "黑体"; TEXT-DECORATION: none
}
.bg01 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(20060313_21.jpg); BACKGROUND-REPEAT: repeat-y
}
.bg02 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(20060313_25.jpg); LINE-HEIGHT: 25px; BACKGROUND-REPEAT: repeat-x
}
.font01 {
	FONT-SIZE: 10px; COLOR: #2b548b; FONT-FAMILY: "Courier New", Courier, monospace
}
.bg03 {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(20060313_36.jpg); BACKGROUND-REPEAT: repeat-y
}
.bg04 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(20060313_25.jpg); BACKGROUND-REPEAT: repeat-x
}
.zw {
	FONT-SIZE: 14px
}
BODY {
	MARGIN: 0px
}
A.w:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.y:link {
	COLOR: #fffaab; TEXT-DECORATION: none
}
A.y:visited {
	COLOR: #fffaab; TEXT-DECORATION: none
}
A.y:hover {
	COLOR: #fffaab; TEXT-DECORATION: underline
}
A.bb:link {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "黑体"; TEXT-DECORATION: none
}
A.bb:visited {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "黑体"; TEXT-DECORATION: none
}
A.bb:hover {
	FONT-SIZE: 18px; COLOR: #990000; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #0c3ba7; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #0c3ba7; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #092975; TEXT-DECORATION: underline
}
A.b:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.b:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.b:hover {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.bz:link {
	FONT-SIZE: 14px; COLOR: #0c3ba7; TEXT-DECORATION: underline
}
A.bz:visited {
	FONT-SIZE: 14px; COLOR: #0c3ba7; TEXT-DECORATION: underline
}
A.bz:hover {
	FONT-SIZE: 14px; COLOR: #000033; TEXT-DECORATION: underline
}
.font02 {
	FONT-SIZE: 12px; COLOR: #0c3ba7; LINE-HEIGHT: 30px; TEXT-DECORATION: none
}
.lb {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(20060314_14.jpg); BACKGROUND-REPEAT: repeat-y
}
.rb {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(20060314_14.jpg); BACKGROUND-REPEAT: repeat-y
}
.bw {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "黑体"; TEXT-DECORATION: none
}
.article_form {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.article_input {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: buttonface
}
.h {
	LINE-HEIGHT: 18px
}
.form {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; WIDTH: 180px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "宋体"
}
.input {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: buttonface
}
.white {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.yq:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.yq:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.yq:hover {
	COLOR: #990000; TEXT-DECORATION: underline blink
}
.formbbs {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://www.99kaoyan.com/images/20060313_12.jpg); BORDER-LEFT: 0px; WIDTH: 82px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体"; HEIGHT: 15px
}
