UNKNOWN {
	TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体
}
PRE {
	FONT-SIZE: 10.5pt; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"
}
TEXTAREA {
	FONT-SIZE: 10.5pt; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"
}
PRE {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(http://bbs.sjtu.edu.cn/file/bbs/oscar7.gif); BACKGROUND-REPEAT: no-repeat
}
TABLE.show_border {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid; BACKGROUND-COLOR: #f6f6f6
}
PRE.tight {
	BACKGROUND-IMAGE: none; LINE-HEIGHT: 10.5pt
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
EM {
	FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: "宋体"
}
FONT.c30 {
	COLOR: #000000
}
FONT.c31 {
	COLOR: #e00000
}
FONT.c32 {
	COLOR: #008000
}
FONT.c33 {
	COLOR: #808000
}
FONT.c34 {
	COLOR: #0000ff
}
FONT.c35 {
	COLOR: #d000d0
}
FONT.c36 {
	COLOR: #33a0a0
}
FONT.c37 {
	COLOR: #000000
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", Tahoma, sans-serif, 宋体; BACKGROUND-COLOR: #fafafa
}
.botton {
	CURSOR: pointer
}
#attachC LABEL {
	BORDER-RIGHT: #00ccff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #00ccff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00ccff 1px solid; WIDTH: 36px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px; BORDER-BOTTOM: #00ccff 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#attach LABEL {
	BORDER-RIGHT: #00ccff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #00ccff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00ccff 1px solid; WIDTH: 96px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px; BORDER-BOTTOM: #00ccff 1px solid; TEXT-ALIGN: center; FONT-SIZ: 12px; TE: none
}
#attach {
	MARGIN-TOP: 4px; HEIGHT: 18px
}
#attachC DIV {
	HEIGHT: 18px
}
