A:link {
	COLOR: #014da2; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline overline
}
A:visited {
	COLOR: #337fd4; TEXT-DECORATION: none
}
A.left:link {
	COLOR: #ace4f8; TEXT-DECORATION: none
}
A.left:hover {
	TEXT-DECORATION: underline overline
}
A.left:visited {
	COLOR: #ace4f8; TEXT-DECORATION: none
}
TABLE.show_border {
	BORDER-LEFT-COLOR: #ace4f8; BORDER-BOTTOM-COLOR: #ace4f8; BORDER-TOP-COLOR: #ace4f8; BORDER-RIGHT-COLOR: #ace4f8
}
.Color_Dark {
	COLOR: #014da2
}
.Color_Midium {
	COLOR: #337fd4
}
.Color_Light {
	COLOR: #85bcf5
}
.Color_Bright {
	COLOR: #ace4f8
}
.Bg_Color_Dark {
	BACKGROUND-COLOR: #014da2
}
.Bg_Color_Midium {
	BACKGROUND-COLOR: #337fd4
}
.Bg_Color_Light {
	BACKGROUND-COLOR: #85bcf5
}
.Bg_Color_Bright {
	BACKGROUND-COLOR: #ace4f8
}
HR {
	COLOR: #014da2; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
HR.left {
	COLOR: #ace4f8
}
BODY {
	SCROLLBAR-FACE-COLOR: #337fd4; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #85bcf5; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #85bcf5; SCROLLBAR-DARKSHADOW-COLOR: #85bcf5
}
BODY.left {
	COLOR: #ffffff; BACKGROUND-COLOR: #014da2
}
